/* RegisterForm.css */


.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/register-bck.jpeg');
    background-size: cover;
    background-position: center;
    z-index: -1;
    filter: blur(3px);
}

p {
    color: white;
}
.register-container {
    position: relative;
    z-index: 2; /* Ensure it's above the blurred background */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register-form {
    background: rgba(198, 181, 181, 0.271); /* Set background color with opacity for transparency */
    padding: 40px;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
    text-align: center;
    z-index: 3; /* Ensure it's above all other elements */
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: whitesmoke;
}

.error {
    color: rgb(215, 81, 90);
    margin-bottom: 10px;
    font-size: 1.5rem;
}

label {
    color: whitesmoke;
    font-size: 1.5rem;
    display: block;
    margin: 10px 0 5px;
    text-align: left;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    border: 1px solid ;
    box-sizing: border-box;
    background-color: white; /* Set background to be opaque */
    color: #333; /* Set text color to be dark */
    position: relative; /* Ensure inputs are above the background */
    z-index: 4; /* Ensure inputs are above the background */
}

button {
    background: linear-gradient(45deg, #6a11cb, #2575fc);
    color: white;
    border: none;
    border-radius: 25px;
    padding: 10px 25px;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s ease;
}

button:hover {
    background: linear-gradient(45deg, #2575fc, #6a11cb);
    transform: translateY(-2px);
}

button:active {
    transform: translateY(0);
}
