/* PlanSelection.css */

.containes {
  background-image: url("../../assets//blur.jpg");
    background-size: cover;
    background-position: center;
    height: 70vh;
    margin-top: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.heading {
  text-align: center;
  margin-top: 0;
}

.dropdowns {
  margin-bottom: 20px;
}

.btn {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #007bff; /* Blue button */
  color: #fff; /* White text */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3; /* Darker blue on hover */
}
