# Default ignored files
/../../pfg-daw-grupo-12-backend /.idea/shelf/
/../../pfg-daw-grupo-12-backend /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../pfg-daw-grupo-12-backend /.idea/httpRequests/
# Datasource local storage ignored files
/../../pfg-daw-grupo-12-backend /.idea/dataSources/
/../../pfg-daw-grupo-12-backend /.idea/dataSources.local.xml
